.imagenCart{
    position: absolute;
    width: 40px;
    margin: 10px;
    right: 20px;
    top: -5px;
}

span{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: solid 2px white;
}